<div class="container">
  <div id="notification"></div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span9  " id="content">  <div class="breadcrumb">
          <a href="index.php-route=common-home.htm">Home</a>
          &raquo; <a href="index.php-route=product-manufacturer.htm">Brand</a>
          &raquo; <a href="show_category_list.htm">Sed rhoncus</a>
          &raquo; <a href="index.php-route=product-product-amp-manufacturer_id=6-amp-product_id=29.htm">Sonec enim sapien</a>
        </div>
        <div class="product-info">
          <div class="row">
            <div class="span3">
              <h1 class="view">Sonec enim sapien</h1>
              <script type="text/javascript">
              jQuery(document).ready(function(){
              var myPhotoSwipe = $("#gallery a").photoSwipe({ enableMouseWheel: false , enableKeyboard: false, captionAndToolbarAutoHideDelay:0 });
              });
              </script>
              <div id="full_gallery">
                <ul id="gallery">
                  <li><a href="image/cache/data/Blooming Bounty Bouquet 1-600x513.png" data-something="something" data-another-thing="anotherthing"><img src="image/cache/data/Blooming Bounty Bouquet 1-600x513.png" title="Sonec enim sapien" alt="Sonec enim sapien" /></a></li>           <li><a href="image/cache/data/Blooming Bounty Bouquet 2-600x513.png" data-something="something1" data-another-thing="anotherthing1"><img src="image/cache/data/Blooming Bounty Bouquet 2-600x513.png" alt="Sonec enim sapien" /></a></li>
                  <li><a href="image/cache/data/Blooming Bounty Bouquet 3-600x513.png" data-something="something1" data-another-thing="anotherthing1"><img src="image/cache/data/Blooming Bounty Bouquet 3-600x513.png" alt="Sonec enim sapien" /></a></li>
                </ul>
              </div>
              <div id="default_gallery" class="left spacing">
                <div class="zoom-top">
                  <a href="image/cache/data/Blooming Bounty Bouquet 1-600x513.png" title="Sonec enim sapien"  data-gal="prettyPhoto[gallery1]" >
                    <img src="index.htm-" title="Sonec enim sapien" alt="Sonec enim sapien" />
                  </a>
                </div>
                <div class="zoom-top">
                  <a href="image/cache/data/Blooming Bounty Bouquet 2-600x513.png" title="Sonec enim sapien"  data-gal="prettyPhoto[gallery1]" >
                    <img src="index.htm-" title="Sonec enim sapien" alt="Sonec enim sapien" />
                  </a>
                </div>
                <div class="zoom-top">
                  <a href="image/cache/data/Blooming Bounty Bouquet 3-600x513.png" title="Sonec enim sapien"  data-gal="prettyPhoto[gallery1]" >
                    <img src="index.htm-" title="Sonec enim sapien" alt="Sonec enim sapien" />
                  </a>
                </div>
                <div class="image">
                  <a href="image/cache/data/Blooming Bounty Bouquet 1-600x513.png" title="Sonec enim sapien" class = 'cloud-zoom' id='zoom1' rel="position: 'right'" >
                    <img src="image/cache/data/Blooming Bounty Bouquet 1-270x231.png" title="Sonec enim sapien" alt="Sonec enim sapien" />
                  </a>
                  <a href="image/cache/data/Blooming Bounty Bouquet 1-600x513.png" title="Sonec enim sapien">
                    <!--<img id="image" src="http://livedemo00.template-help.com/opencart_47588/image/cache/data/Blooming Bounty Bouquet 1-270x231.png" title="Sonec enim sapien" alt="Sonec enim sapien" />-->
                  </a>
                </div>
                <div class="image-additional">
                  <ul id="image-additional">
                    <li>
                      <a href="image/cache/data/Blooming Bounty Bouquet 1-600x513.png" title="Sonec enim sapien" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'http://livedemo00.template-help.com/opencart_47588/image/cache/data/Blooming Bounty Bouquet 1-600x513.png' "><img src="image/cache/data/Blooming Bounty Bouquet 1-600x513.png" title="Sonec enim sapien" alt="Sonec enim sapien" /></a>
                    </li>
                    <li>
                      <a href="image/cache/data/Blooming Bounty Bouquet 2-600x513.png" title="Sonec enim sapien" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'http://livedemo00.template-help.com/opencart_47588/image/cache/data/Blooming Bounty Bouquet 2-600x513.png' ">
                        <img src="image/cache/data/Blooming Bounty Bouquet 2-270x231.png" title="Sonec enim sapien" alt="Sonec enim sapien" />
                      </a>
                    </li>
                    <li>
                      <a href="image/cache/data/Blooming Bounty Bouquet 3-600x513.png" title="Sonec enim sapien" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'http://livedemo00.template-help.com/opencart_47588/image/cache/data/Blooming Bounty Bouquet 3-600x513.png' ">
                        <img src="image/cache/data/Blooming Bounty Bouquet 3-270x231.png" title="Sonec enim sapien" alt="Sonec enim sapien" />
                      </a>
                    </li>
                  </ul>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="span6">
              <h1>Sonec enim sapien</h1>
              <div class="description">
                <div class="product-section">
                  <span>Brand:</span> <a href="show_category_list.htm">Sed rhoncus</a><br />
                  <span>Product Code:</span> Product 2<br />
                  <span>Availability:</span><div class="prod-stock">In Stock</div>
                </div>
                <div class="price">
                  <span class="text-price">Price:</span>
                  <span class="price-new">$189.99</span>
                  <span class="price-tax">Ex Tax: $159.99</span>
                </div>
                <div class="cart">
                  <div class="prod-row">
                    <div class="cart-top">
                      <div class="cart-top-padd form-inline">
                        <label>Qty:           <input class="q-mini" type="text" name="quantity" size="2" value="1" />
                        <input class="q-mini" type="hidden" name="product_id" size="2" value="29" />
                      </label>
                      <a id="button-cart" class="button-prod" ><i class="icon-shopping-cart"></i><span>Add to Cart</span></a>
                    </div>
                    <div class="extra-button">
                      <div class="wishlist">
                        <a class="tooltip-1" onclick="addToWishList('29');" title="Add to Wish List"><i class="icon-star"></i><span>Add to Wish List</span></a>
                      </div>
                      <div class="compare">
                        <a class="tooltip-1" onclick="addToCompare('29');" title="Add to Compare"><i class="icon-bar-chart"></i><span>Add to Compare</span></a>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="review">
                <div>
                  <img src="http://localhost:3000/assets/catalog/view/theme/theme324/image/stars-0.png" alt="0 reviews" />&nbsp;&nbsp;
                  <div class="btn-rew">
                    <a onclick="document.getElementById('tab-review').scrollIntoView();">0 reviews</a>
                    <a onclick="document.getElementById('tab-review').scrollIntoView();"><i class="icon-pencil"></i>Write a review</a>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
              <div class="share">
                <!-- AddThis Button BEGIN -->
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_googleplus_hcount' displayText='Google +'></span>
                <span class='st_pinterest_hcount' displayText='Pinterest'></span>
                <script type="text/javascript" src="../../w.sharethis.com/button/buttons.js"></script>
                <script type="text/javascript">stLight.options({publisher: "00fa5650-86c7-427f-b3c6-dfae37250d99", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                <!-- AddThis Button END -->
              </div>
            </div>
          </div>
        </div>
        <div class="tabs">
          <div class="tab-heading">
          Description   </div>
          <div class="tab-content">
            <p>What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to <strong>present flowers</strong>. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.<br />
              We are proud to present our wonderful goods. Here you can find many wonderful examples because our collection is one of the biggest among flower stores. We have many unique products, you don’t have to worry about the quality because our goods have premium quality and after all, trust is the foundation of collaboration.<br />
            We work with the <strong>leading florists</strong> because this sphere is very important in our kind of activity. You can rely on us because we are offering only premium quality goods. Important thing is that you can save a lot of money in our store. There are many different benefits and discounts. We are ready to make your life more beautiful.</p>
          </div>
        </div>
        <div class="tabs" id="tab-review">
          <div class="tab-heading">
          Reviews (0)   </div>
          <div class="tab-content">
            <div id="review"></div>
            <h2 id="review-title">Write a review</h2>
            <label>Your Name:</label>
            <input type="text" name="name" value="" />
            <br />
            <br />
            <label>Your Review:</label>
            <textarea name="text" cols="40" rows="8" style="width: 93%;"></textarea>
            <div class="clear"></div>
            <span style="font-size: 11px;"><span style="color: #FF0000;">Note:</span> HTML is not translated!</span><br />
            <br />
            <label class="inline">Rating:</label>
            <div class="form-inline border">
              <span class="radio">Bad</span>&nbsp;
              <input type="radio" name="rating" value="1" />
              &nbsp;
              <input type="radio" name="rating" value="2" />
              &nbsp;
              <input type="radio" name="rating" value="3" />
              &nbsp;
              <input type="radio" name="rating" value="4" />
              &nbsp;
              <input type="radio" name="rating" value="5" />
              &nbsp; <span class="radio">Good</span><br />
            </div>
            <label>Enter the code in the box below:</label>
            <input type="text" name="captcha" value="" />
            <img src="index.php-route=product-product-captcha.htm-" alt="" id="captcha" />
            <br />
            <div class="buttons">
              <div><a id="button-review" class="button-cont-right">Continue<i class="icon-circle-arrow-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="style-1 mt0">Related Products</h1>
      <div  class="related">
        <div class="box-product">
          <ul class="related-slider">
            <li class="related-info">
              <div class="image">
                <a href="index.php-route=product-product-amp-product_id=42.htm"><img id="img_42" src="image/cache/data/Sweet Surprises Bouquet 1-129x110.png" alt="Pellentesque et " /></a>
              </div>
              <div class="inner_related">
                <script type="text/javascript">
                if ($('.container.htm').width() > 723) {
                (function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
                $(window).load(function(){
                if($(".maxheight-relat.htm").length){
                $(".maxheight-relat.htm").equalHeights()}
                });
                };
                </script>
                <div class="name maxheight-relat"><a href="index.php-route=product-product-amp-product_id=42.htm">Pellentesque et </a></div>
                <div class="price">
                $69.99                </div>
                <div class="cart-button">
                  <div class="cart">
                    <a title="Add to Cart" onclick="addToCart('42');" class="button ">
                      <span>Add to Cart</span>
                    </a>
                  </div>
                  <div class="wishlist"><a class="tooltip-2" title="Add to Wish List"  onclick="addToWishList('42');"><i class="icon-star"></i><span>Add to Wish List</span></a></div>
                  <div class="compare"><a class="tooltip-2" title="Add to Compare"  onclick="addToCompare('42');"><i class="icon-bar-chart"></i><span>Add to Compare</span></a></div>
                  <span class="clear"></span>
                </div>
                <div class="rating">
                </div>
              </div>
            </li>
            <li class="related-info">
              <div class="image">
                <a href="index.php-route=product-product-amp-product_id=43.htm"><img id="img_43" src="image/cache/data/Deep Emotions Bouquet 1-129x110.png" alt="Lonec non fermentum" /></a>
              </div>
              <div class="inner_related">
                <script type="text/javascript">
                if ($('.container.htm').width() > 723) {
                (function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
                $(window).load(function(){
                if($(".maxheight-relat.htm").length){
                $(".maxheight-relat.htm").equalHeights()}
                });
                };
                </script>
                <div class="name maxheight-relat"><a href="index.php-route=product-product-amp-product_id=43.htm">Lonec non fermentum</a></div>
                <div class="price">
                  <span class="price-new">$99.99</span><span class="price-old">$109.99</span>
                </div>
                <div class="cart-button">
                  <div class="cart">
                    <a title="Add to Cart" onclick="addToCart('43');" class="button ">
                      <span>Add to Cart</span>
                    </a>
                  </div>
                  <div class="wishlist"><a class="tooltip-2" title="Add to Wish List"  onclick="addToWishList('43');"><i class="icon-star"></i><span>Add to Wish List</span></a></div>
                  <div class="compare"><a class="tooltip-2" title="Add to Compare"  onclick="addToCompare('43');"><i class="icon-bar-chart"></i><span>Add to Compare</span></a></div>
                  <span class="clear"></span>
                </div>
                <div class="rating">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <aside class="span3" id="column-left">
      <div class="box account">
        <div class="box-heading">Account</div>
        <div class="box-content">
          <ul class="acount">
            <li><a href="index.php-route=account-login.htm">Login</a> / <a href="index.php-route=account-register.htm">Register</a></li>
            <li><a href="index.php-route=account-forgotten.htm">Forgotten Password</a></li>
            <li><a href="index.php-route=account-account.htm">My Account</a></li>
            <li><a href="index.php-route=account-address.htm">Address Books</a></li>      <li><a href="index.php-route=account-wishlist.htm">Wish List</a></li>
            <li><a href="index.php-route=account-order.htm">Order History</a></li>
            <li><a href="index.php-route=account-download.htm">Downloads</a></li>
            <li><a href="index.php-route=account-return.htm">Returns</a></li>
            <li><a href="index.php-route=account-transaction.htm">Transactions</a></li>
            <li><a href="index.php-route=account-newsletter.htm">Newsletter</a></li>
            <li><a href="index.php-route=account-recurring.htm">Recurring payments</a></li>          </ul>
          </div>
        </div>
        <div class="box info" id="compare">
          <div class="box-heading">Product Comparison</div>
          <div class="box-content">
            <div class="product-compare"><a class="button" href="index.php-route=product-compare.htm"><span>Product Compare</span></a></div>
          </div>
        </div>
        <script type="text/javascript">
        if ($('.container.htm').width() > 723) {
        (function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
        $(window).load(function(){
        if($(".maxheight-spec.htm").length){
        $(".maxheight-spec.htm").equalHeights()}
        });
        };
        </script>
        <div class="box specials">
          <div class="box-heading special-heading">Specials</div>
          <div class="box-content">
            <div class="box-product">
              <ul class="row">
                <li class="first-in-line last_line span3">
                  <script type="text/javascript">
                  $(document).ready(function(){
                  $("a.colorbox-1.htm").colorbox({
                  rel: 'colorbox1',
                  inline:true,
                  html: true,
                  width:'58%',
                  maxWidth:'780px',
                  height:'70%',
                  opacity:0.6,
                  open:false,
                  returnFocus:false,
                  fixed: false,
                  title: false,
                  href:'.quick-view-1.htm',
                  current:'Product {current} of {total}'
                  });
                  });
                  </script>
                  <div class="image2">
                    <a href="index.php-route=product-product-amp-product_id=43.htm"><img id="img_43" src="image/cache/data/Deep Emotions Bouquet 1-229x196.png" alt="Lonec non fermentum" /></a>
                    <a href="index.php-route=product-product-amp-product_id=43.htm"   rel="colorbox" class="colorbox-1 quick-view-button"><i class=" icon-search "></i></a>
                  </div>
                  <div style="display:none;">
                    <div class="quick-view-1 preview">
                      <div class="wrapper marg row-fluid">
                        <div class="left span4">
                          <div class="image3"><a href="index.php-route=product-product-amp-product_id=43.htm"><img src="image/cache/data/Deep Emotions Bouquet 1-270x231.png" alt="Lonec non fermentum" /></a></div>
                        </div>
                        <div class="right span8">
                          <h2>Lonec non fermentum</h2>
                          <div class="inf">
                            <span class="manufacture">Brand: <a href="index.php-route=product-manufacturer-info-amp-manufacturer_id=8.htm">Proin feugiat</a></span>
                            <span class="model">Model:Product 16</span>
                            <span class="prod-stock-2">Availability:</span>
                            <span class="prod-stock">In Stock</span>
                            <div class="price">
                              <span class="text-price">Price: </span>
                              <span class="price-new">$99.99</span> <span class="price-old">$109.99</span>
                            </div>
                          </div>
                          <div class="cart-button">
                            <div class="prev_button">
                              <div class="cart">
                                <a title="Add to cart" data-id="43;" class="button addToCart-1 ">
                                  <!--<i class="icon-shopping-cart"></i>-->
                                  <span>Add to cart</span>
                                </a>
                              </div>
                              <a href="index.php-route=product-product-amp-product_id=43.htm" class="button details"><span>Details</span></a>
                            </div>
                            <div class="wishlist">
                              <a class="tooltip-1" title="Add to Wish List"  onclick="addToWishList('43');">
                                <i class="icon-star"></i>
                                <span>Add to Wish List</span>
                              </a>
                            </div>
                            <div class="compare">
                              <a class="tooltip-1" title="Add to Compare"  onclick="addToCompare('43');">
                                <i class="icon-bar-chart"></i>
                                <span>Add to Compare</span>
                              </a>
                            </div>
                            <span class="clear"></span>
                          </div>
                          <div class="clear"></div>
                          <div class="rating">
                            <img height="18" src="http://localhost:3000/assets/catalog/view/theme/theme324/image/stars-0.png" alt="Based on 0 reviews." />
                          </div>
                        </div>
                      </div>
                      <div class="description">
                        <p>What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to <strong>present flowers</strong>. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.<br />
                          We are proud to present our wonderful goods. Here you can find many wonderful examples because our collection is one of the biggest among flower stores. We have many unique products, you don’t have to worry about the quality because our goods have premium quality and after all, trust is the foundation of collaboration.<br />
                        We work with the <strong>leading florists</strong> because this sphere is very important in our kind of activity. You can rely on us because we are offering only premium quality goods. Important thing is that you can save a lot of money in our store. There are many different benefits and discounts. We are ready to make your life more beautiful.</p>
                      </div>
                    </div>
                  </div>
                  <div class="inner">
                    <div class="f-left">
                      <div class="name"><a class="maxheight-spec" href="index.php-route=product-product-amp-product_id=43.htm">Lonec non fermentum</a></div>
                      <div class="price">
                        <span class="price-new">$99.99</span><span class="price-old">$109.99</span>
                      </div>
                    </div>
                    <div class="cart-button">
                      <a href="index.php-route=product-product-amp-product_id=43.htm" class="button details"><span>Details</span></a>
                      <span class="clear"></span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
  <script type="text/javascript"><!--
  $(document).ready(function() {
  $('.colorbox.htm').colorbox({
  overlayClose: true,
  opacity: 0.5,
  rel: "colorbox"
  });
  });
  //--></script>
  <script type="text/javascript"><!--
  $('select[name="profile_id"], input[name="quantity"]').change(function(){
  $.ajax({
  url: 'index.php?route=product/product/getRecurringDescription',
  type: 'post',
  data: $('input[name="product_id"], input[name="quantity"], select[name="profile_id"]'),
  dataType: 'json',
  beforeSend: function() {
  $('#profile-description').html('');
  },
  success: function(json) {
  $('.success, .warning, .attention, information, .error').remove();
  if (json['success']) {
  $('#profile-description').html(json['success']);
  }
  }
  });
  });
  $('#button-cart').bind('click', function() {
  $.ajax({
  url: 'index.php?route=checkout/cart/add',
  type: 'post',
  data: $('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\']:checked, .product-info input[type=\'checkbox\']:checked, .product-info select, .product-info textarea'),
  dataType: 'json',
  success: function(json) {
  $('.success, .warning, .attention, information, .error').remove();
  if (json['error']) {
  if (json['error']['option']) {
  for (i in json['error']['option']) {
  $('#option-' + i).after('<span class="error">' + json['error']['option'][i] + '</span>');
  }
  }
  if (json['error']['profile']) {
  $('select[name="profile_id"]').after('<span class="error">' + json['error']['profile'] + '</span>');
  }
  }
  if (json['success']) {
  $('#notification').html('<div class="success" style="display: none;">' + json['success'] + '<span><i class="icon-remove-sign"></i></span></div>');
  $('.success').fadeIn('slow');
  $('#cart-total').html(json['total']);
  $('#cart-total2').html(json['total']);
  $('#cart').load('index.php?route=module/cart #cart > *');
  $('html, body').animate({ scrollTop: 0 }, 'slow');
  }
  setTimeout(function() {$('.success').fadeOut(1000)},3000)
  }
  });
  });
  //--></script>
  <script type="text/javascript"><!--
  $('#review .pagination a').live('click', function() {
  $('#review').fadeOut('slow');
  $('#review').load(this.href);
  $('#review').fadeIn('slow');
  return false;
  });
  $('#review').load('index.php-route=product-product-review-product_id=29.htm');
  $('#button-review').bind('click', function() {
  $.ajax({
  url: 'index.php-route=product-product-write-product_id=29.htm',
  type: 'post',
  dataType: 'json',
  data: 'name=' + encodeURIComponent($('input[name=\'name\']').val()) + '&text=' + encodeURIComponent($('textarea[name=\'text\']').val()) + '&rating=' + encodeURIComponent($('input[name=\'rating\']:checked').val() ? $('input[name=\'rating\']:checked').val() : '') + '&captcha=' + encodeURIComponent($('input[name=\'captcha\']').val()),
  beforeSend: function() {
  $('.success, .warning').remove();
  $('#button-review').attr('disabled', true);
  $('#review-title').after('<div class="attention"><img src="http://localhost:3000/assets/catalog/view/theme/theme324/image/loading.gif" alt="" /> Please Wait!</div>');
  },
  complete: function() {
  $('#button-review').attr('disabled', false);
  $('.attention').remove();
  },
  success: function(data) {
  if (data['error']) {
  $('#review-title').after('<div class="warning">' + data['error'] + '</div>');
  }
  if (data['success']) {
  $('#review-title').after('<div class="success">' + data['success'] + '</div>');
  $('input[name=\'name\']').val('');
  $('textarea[name=\'text\']').val('');
  $('input[name=\'rating\']:checked').attr('checked', '');
  $('input[name=\'captcha\']').val('');
  }
  }
  });
  });
  //--></script>
  <script type="text/javascript"><!--
  $('#tabs a').tabs();
  //--></script>
  <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/javascript/jquery/ui/jquery-ui-timepicker-addon.js"></script>
  <script type="text/javascript"><!--
  $(document).ready(function() {
  if ($.browser.msie && $.browser.version == 6) {
  $('.date, .datetime, .time').bgIframe();
  }
  $('.date').datepicker({dateFormat: 'yy-mm-dd'});
  $('.datetime.htm').datetimepicker({
  dateFormat: 'yy-mm-dd',
  timeFormat: 'h:m'
  });
  $('.time').timepicker({timeFormat: 'h:m'});
  });
  //--></script>
  <div class="clear"></div>
</div>
</div>