<div class="container">
  <div id="notification"></div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span9  " id="content">  <div class="breadcrumb">
          <a href="index.php-route=common-home.htm">Home</a>
          &raquo; <a href="index.php-route=product-manufacturer.htm">Brand</a>
        </div>
        <h1>Find Your Favorite Brand</h1>
        <div class="box-container">
          <p class="manuf-p"><b>Brand Index:</b>
            &nbsp;&nbsp;&nbsp;<a href="index.php-route=product-manufacturer.htm#A"><b>A</b></a>
            &nbsp;&nbsp;&nbsp;<a href="index.php-route=product-manufacturer.htm#C"><b>C</b></a>
            &nbsp;&nbsp;&nbsp;<a href="index.php-route=product-manufacturer.htm#P"><b>P</b></a>
            &nbsp;&nbsp;&nbsp;<a href="index.php-route=product-manufacturer.htm#Q"><b>Q</b></a>
            &nbsp;&nbsp;&nbsp;<a href="index.php-route=product-manufacturer.htm#S"><b>S</b></a>
          </p>
          <div class="manufacturer-list">
            <div class="manufacturer-heading"><span>A</span><a id="A"></a></div>
            <div class="manufacturer-content">
              <div class="row-fluid">
                <ul class="span3">
                  <li><a href="index.php-route=product-manufacturer-info-amp-manufacturer_id=10.htm">Aenean id nunc</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="manufacturer-list">
            <div class="manufacturer-heading"><span>C</span><a id="C"></a></div>
            <div class="manufacturer-content">
              <div class="row-fluid">
                <ul class="span3">
                  <li><a href="index.php-route=product-manufacturer-info-amp-manufacturer_id=9.htm">Cras eleifend</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="manufacturer-list">
            <div class="manufacturer-heading"><span>P</span><a id="P"></a></div>
            <div class="manufacturer-content">
              <div class="row-fluid">
                <ul class="span3">
                  <li><a href="index.php-route=product-manufacturer-info-amp-manufacturer_id=11.htm">Pellentesque</a></li>
                </ul>
                <ul class="span3">
                  <li><a href="index.php-route=product-manufacturer-info-amp-manufacturer_id=7.htm">Phasellus luctus</a></li>
                </ul>
                <ul class="span3">
                  <li><a href="index.php-route=product-manufacturer-info-amp-manufacturer_id=8.htm">Proin feugiat</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="manufacturer-list">
            <div class="manufacturer-heading"><span>Q</span><a id="Q"></a></div>
            <div class="manufacturer-content">
              <div class="row-fluid">
                <ul class="span3">
                  <li><a href="index.php-route=product-manufacturer-info-amp-manufacturer_id=5.htm">Quisque ipsum</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="manufacturer-list">
            <div class="manufacturer-heading"><span>S</span><a id="S"></a></div>
            <div class="manufacturer-content">
              <div class="row-fluid">
                <ul class="span3">
                  <li><a href="show_category_list.htm">Sed rhoncus</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <aside class="span3" id="column-left">
        <script type="text/javascript">
          $(function(){
            $('.info-list li').last().addClass('last');
          });
        </script>
        <div class="box info">
          <div class="box-heading">Information</div>
          <div class="box-content">

            <ul class="info-list">
              <li><a href="index.php-route=information-information-amp-information_id=4.htm">About Us</a></li>
              <li><a href="index.php-route=information-information-amp-information_id=6.htm">Delivery</a></li>
              <li><a href="index.php-route=information-information-amp-information_id=3.htm">Privacy Policy</a></li>
              <li><a href="index.php-route=information-contact.htm">Contact Us</a></li>
              <li><a href="index.php-route=information-sitemap.htm">Site Map</a></li>
            </ul>
          </div>
        </div>
        <script type="text/javascript">
          if ($('.container.htm').width() > 723) {
            (function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
          $(window).load(function(){
            if($(".maxheight-spec.htm").length){
            $(".maxheight-spec.htm").equalHeights()}
          });
          };
        </script>
        <div class="box specials">
          <div class="box-heading special-heading">Specials</div>
          <div class="box-content">
            <div class="box-product">
              <ul class="row">
                <li class="first-in-line last_line span3">
                  <script type="text/javascript">
                  $(document).ready(function(){
                    $("a.colorbox-1.htm").colorbox({
                    rel: 'colorbox1',
                    inline:true,
                    html: true,
                    width:'58%',
                    maxWidth:'780px',
                    height:'70%',
                    opacity:0.6,
                    open:false,
                    returnFocus:false,
                    fixed: false,
                    title: false,
                    href:'.quick-view-1.htm',
                    current:'Product {current} of {total}'
                    });
                    });
                  </script>
                  <div class="image2">
                    <a href="index.php-route=product-product-amp-product_id=43.htm"><img id="img_43" src="image/cache/data/Deep Emotions Bouquet 1-229x196.png" alt="Lonec non fermentum" /></a>
                    <a href="index.php-route=product-product-amp-product_id=43.htm"   rel="colorbox" class="colorbox-1 quick-view-button"><i class=" icon-search "></i></a>
                  </div>
                  <div style="display:none;">
                    <div class="quick-view-1 preview">
                      <div class="wrapper marg row-fluid">
                        <div class="left span4">
                          <div class="image3"><a href="index.php-route=product-product-amp-product_id=43.htm"><img src="image/cache/data/Deep Emotions Bouquet 1-270x231.png" alt="Lonec non fermentum" /></a></div>
                        </div>
                        <div class="right span8">
                          <h2>Lonec non fermentum</h2>
                          <div class="inf">
                            <span class="manufacture">Brand: <a href="index.php-route=product-manufacturer-info-amp-manufacturer_id=8.htm">Proin feugiat</a></span>
                            <span class="model">Model:Product 16</span>
                            <span class="prod-stock-2">Availability:</span>
                            <span class="prod-stock">In Stock</span>
                            <div class="price">
                              <span class="text-price">Price: </span>
                              <span class="price-new">$99.99</span> <span class="price-old">$109.99</span>
                            </div>
                          </div>
                          <div class="cart-button">
                            <div class="prev_button">
                              <div class="cart">
                                <a title="Add to cart" data-id="43;" class="button addToCart-1 ">
                                  <!--<i class="icon-shopping-cart"></i>-->
                                  <span>Add to cart</span>
                                </a>
                              </div>
                              <a href="index.php-route=product-product-amp-product_id=43.htm" class="button details"><span>Details</span></a>
                            </div>
                            <div class="wishlist">
                              <a class="tooltip-1" title="Add to Wish List"  onclick="addToWishList('43');">
                                <i class="icon-star"></i>
                                <span>Add to Wish List</span>
                              </a>
                            </div>
                            <div class="compare">
                              <a class="tooltip-1" title="Add to Compare"  onclick="addToCompare('43');">
                                <i class="icon-bar-chart"></i>
                                <span>Add to Compare</span>
                              </a>
                            </div>
                            <span class="clear"></span>
                          </div>
                          <div class="clear"></div>
                          <div class="rating">
                            <img height="18" src="catalog/view/theme/theme324/image/stars-0.png" alt="Based on 0 reviews." />
                          </div>
                        </div>
                      </div>
                      <div class="description">
                        <p>What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to <strong>present flowers</strong>. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.<br />
                          We are proud to present our wonderful goods. Here you can find many wonderful examples because our collection is one of the biggest among flower stores. We have many unique products, you don’t have to worry about the quality because our goods have premium quality and after all, trust is the foundation of collaboration.<br />
                        We work with the <strong>leading florists</strong> because this sphere is very important in our kind of activity. You can rely on us because we are offering only premium quality goods. Important thing is that you can save a lot of money in our store. There are many different benefits and discounts. We are ready to make your life more beautiful.</p>
                      </div>
                    </div>
                  </div>

                  <div class="inner">
                    <div class="f-left">

                      <div class="name"><a class="maxheight-spec" href="index.php-route=product-product-amp-product_id=43.htm">Lonec non fermentum</a></div>



                      <div class="price">
                        <span class="price-new">$99.99</span><span class="price-old">$109.99</span>
                      </div>


                    </div>
                    <div class="cart-button">
                      <a href="index.php-route=product-product-amp-product_id=43.htm" class="button details"><span>Details</span></a>
                      <span class="clear"></span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
  <div class="clear"></div>
</div>
</div>
</div>