<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <script type="text/javascript">
    //<![CDATA[
    try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"../cdn-cgi/nexp/dok3v=1613a3a185/index.htm"},atok:"394c9dbeb73dec4dfa0d34834da0dc3c",petok:"98f783ea1173397518bcef5efa9b4591be533c70-1428505712-1800",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"},"ga_key":{"ua":"UA-7078796-5","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=7e13c32551/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
    //]]>
    </script>
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script><title>Family  flowers</title>
    <base hrefx="http://livedemo00.template-help.com/opencart_47588/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, , initial-scale=1.0">
    <script>
    if (navigator.userAgent.match(/Android/i)) {
    var viewport = document.querySelector("meta[name=viewport]");
    }
    if(navigator.userAgent.match(/Android/i)){
    window.scrollTo(0,1);
    }
    </script>
    <link href="/assets/catalog/view/theme/theme324/stylesheet/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/cloud-zoom.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/catalog/view/theme/theme324/stylesheet/stylesheet.css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/slideshow.css" rel="stylesheet" type="text/css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/jquery.prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/camera.css" rel="stylesheet" type="text/css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/superfish.css" rel="stylesheet" type="text/css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/photoswipe.css" rel="stylesheet" type="text/css" />
    <link href="/assets/catalog/view/theme/theme324/stylesheet/jquery.bxslider.css" rel="stylesheet" type="text/css" />
    <link href='../../fonts.googleapis.com/css-family=Open+Sans-400,700-subset=latin,cyrillic-ext,latin-ext,cyrillic.htm' rel='stylesheet' type='text/css'>
    <link href='../../fonts.googleapis.com/css-family=Playball.htm' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/assets/catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/catalog/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <script type="text/javascript" src="/assets/catalog/view/javascript/jquery/ui/external/jquery.cookie.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/catalog/view/theme/theme324/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
    <script type="text/javascript" src="/assets/catalog/view/javascript/jquery/colorbox/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/javascript/jquery/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/javascript/jquery/jquery.cycle.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/catalog/view/javascript/jquery/colorbox/colorbox.css" media="screen" />
    <!--[if IE]>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/fancybox/jquery.fancybox-1.3.4-iefix.js"></script>
    <![endif]-->
    <!--[if IE]>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]><div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="javascript:if(confirm('http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode'"><img src="../../storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/javascript/jquery/tabs.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/common.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/jQuery.equalHeights.js"></script>
    <script type="text/JavaScript" src="/assets/catalog/view/theme/theme324/js/cloud-zoom.1.0.2.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/jscript_zjquery.anythingslider.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/script.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/javascript/jquery/nivo-slider/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/jquery.mobile-events.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/superfish.js"></script>
    <!--[if !IE]>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/sl/jquery.mobile.customized.min.js"></script>
    <![endif]-->
    <!--[if IE]>
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/sl/jscript_zjquery.anythingslider.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/assets/catalog/view/theme/theme324/js/sl/camera.js"></script>
    <!-- bx-slider -->
    <script type="text/javascript" language="javascript" src="/assets/catalog/view/theme/theme324/js/bxslider/jquery.bxslider.js"></script>
    <!-- photo swipe -->
    <script type="text/javascript" language="javascript" src="/assets/catalog/view/theme/theme324/js/photo-swipe/klass.min.js"></script>
    <script type="text/javascript" language="javascript" src="/assets/catalog/view/theme/theme324/js/photo-swipe/code.photoswipe.jquery-3.0.5.js"></script>
    <script type="text/javascript" src="/assets/catalog/view/javascript/jquery/jquery.total-storage.min.js"></script>
    <!--[if  IE 8]>
    <style>
      .success, #header #cart .content  { border:1px solid #e7e7e7;}
    </style>
    <![endif]-->
    <!--[if  IE 8]>
    <link rel="stylesheet" type="text/css" href="/assets/catalog/view/theme/theme324/stylesheet/ie7.css" />
    <![endif]-->
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="/assets/catalog/view/theme/theme324/stylesheet/ie6.css" />
    <script type="text/javascript" src="catalog/view/javascript/DD_belatedPNG_0.0.8a-min.js"></script>
    <script type="text/javascript">
    DD_belatedPNG.fix('#logo img');
    </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/assets/catalog/view/theme/theme324/stylesheet/livesearch.css"/>
    <script type="text/javascript">
    /* <![CDATA[ */
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7078796-5']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript/index.htm'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    (function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create.htm",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove.htm",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
    /* ]]> */
    </script>
  </head>
  <body class="product-category"><a id="hidden" href="index.htm"></a>
  <div class="swipe-left"></div>
  <div id="body">
    <div class="swipe">
      <div class="swipe-menu">
        <ul class="links">
          <li class="first"><a class="" href="index.php-route=common-home.htm"><i class="icon-home"></i>Home</a></li>
          <li><a class="" href="index.php-route=account-wishlist.htm" id="wishlist-total"><i class="icon-star"></i>Wish List (0)</a></li>
          <li><a class="" href="index.php-route=account-account.htm"><i class="icon-user"></i>My Account</a></li>
          <li><a class="" href="index.php-route=checkout-cart.htm"><i class="icon-shopping-cart"></i>Shopping Cart</a></li>
          <li><a class="" href="index.php-route=checkout-checkout.htm"><i class="icon-check"></i>Checkout</a></li>
          <li class="login_h"><a href="index.php-route=account-login.htm"><i class="icon-lock"></i>Log In</a></li> <li><a href="index.php-route=account-register.htm"><i class="icon-file-alt"></i>Create an account</a></li>           </ul>
          <div id="language" class="header-button">
            <div class="heading">en<i class="icon-angle-down"></i></div>
            <div class="heading1"><i class="icon-globe"></i>Language<i class="icon-angle-down"></i></div>
            <ul>
              <form action="index.php-route=module-language.htm" method="post" enctype="multipart/form-data">
                <li><span alt="English" title="English" onClick="$('input[name=\'language_code\']').attr('value', 'en').submit(); $(this).parent().parent().submit();" >en</span>
                <li><span alt="German" title="German" onClick="$('input[name=\'language_code\']').attr('value', 'de').submit(); $(this).parent().parent().submit();" >de</span>
                <li><span alt="Spanish" title="Spanish" onClick="$('input[name=\'language_code\']').attr('value', 'es').submit(); $(this).parent().parent().submit();" >es</span>
                <input type="hidden" name="language_code" value="" />
                <input type="hidden" name="redirect" value="http://livedemo00.template-help.com/opencart_47588/index.php?route=product/category&amp;path=17" />
              </li>
            </form>
          </ul>
        </div>
        <div id="currency" class="header-button">
          <div>
            <div class="heading-1"><i class="icon-money"></i>Currency<i class="icon-angle-down"></i></div>
            <div class="heading">
              $<i class="icon-angle-down"></i>
            </div>
          </div>
          <ul>
            <form action="index.php-route=module-currency.htm" method="post" enctype="multipart/form-data">
              <li><a title="Euro" onClick="$('input[name=\'currency_code\']').attr('value', 'EUR').submit(); $(this).parent().parent().submit();"><span>€</span></a></li>
              <li><a title="Pound Sterling" onClick="$('input[name=\'currency_code\']').attr('value', 'GBP').submit(); $(this).parent().parent().submit();"><span>£</span></a></li>
              <li><a title="US Dollar"><span class="act">$</span></a></li>
              <input type="hidden" name="currency_code" value="" />
              <input type="hidden" name="redirect" value="http://livedemo00.template-help.com/opencart_47588/index.php?route=product/category&amp;path=17" />
            </form>
          </ul>
        </div>
        <ul class="foot">
          <li><a href="index.php-route=information-information-amp-information_id=4.htm">About Us</a></li>
          <li><a href="index.php-route=information-information-amp-information_id=6.htm">Delivery</a></li>
          <li><a href="index.php-route=information-information-amp-information_id=3.htm">Privacy Policy</a></li>
        </ul>
        <ul class="foot foot-1">
          <li><a href="index.php-route=information-contact.htm">Contact Us</a></li>
          <li><a href="index.php-route=account-return-insert.htm">Returns</a></li>
          <li><a href="index.php-route=information-sitemap.htm">Site Map</a></li>
        </ul>
        <ul class="foot foot-2">
          <li><a href="index.php-route=product-manufacturer.htm">Brands</a></li>
          <li><a href="index.php-route=account-voucher.htm">Gift Vouchers</a></li>
          <li><a href="index.php-route=affiliate-account.htm">Affiliates</a></li>
          <li><a href="index.php-route=product-special.htm">Specials</a></li>
        </ul>
        <ul class="foot foot-3">
          <li><a href="index.php-route=account-order.htm">Order History</a></li>
          <li><a href="index.php-route=account-newsletter.htm">Newsletter</a></li>
        </ul>
      </div>
    </div>
    <div id="page">
      <div id="shadow">
        <div class="shadow"></div>
        <header id="header">
          <div class="container">
            <div class="row">
              <div class="span12">
                <div class="top-site">
                  <div class="right">
                    <div id="search">
                      <div class="inner">
                        <div class="button-search"><i class="icon-search"></i><span>SEARCH</span></div>
                        <input  type="text" name="search" placeholder="" value="" />
                      </div>
                    </div>
                    <div class="buttons_top">
                      <div id="currency" class="header-button">
                        <div>
                          <div class="heading-1"><i class="icon-money"></i>Currency<i class="icon-angle-down"></i></div>
                          <div class="heading">
                            $<i class="icon-angle-down"></i>
                          </div>
                        </div>
                        <ul>
                          <form action="index.php-route=module-currency.htm" method="post" enctype="multipart/form-data">
                            <li><a title="Euro" onClick="$('input[name=\'currency_code\']').attr('value', 'EUR').submit(); $(this).parent().parent().submit();"><span>€</span></a></li>
                            <li><a title="Pound Sterling" onClick="$('input[name=\'currency_code\']').attr('value', 'GBP').submit(); $(this).parent().parent().submit();"><span>£</span></a></li>
                            <li><a title="US Dollar"><span class="act">$</span></a></li>
                            <input type="hidden" name="currency_code" value="" />
                            <input type="hidden" name="redirect" value="http://livedemo00.template-help.com/opencart_47588/index.php?route=product/category&amp;path=17" />
                          </form>
                        </ul>
                      </div>
                      <div id="language" class="header-button">
                        <div class="heading">en<i class="icon-angle-down"></i></div>
                        <div class="heading1"><i class="icon-globe"></i>Language<i class="icon-angle-down"></i></div>
                        <ul>
                          <form action="index.php-route=module-language.htm" method="post" enctype="multipart/form-data">
                            <li><span alt="English" title="English" onClick="$('input[name=\'language_code\']').attr('value', 'en').submit(); $(this).parent().parent().submit();" >en</span>
                            <li><span alt="German" title="German" onClick="$('input[name=\'language_code\']').attr('value', 'de').submit(); $(this).parent().parent().submit();" >de</span>
                            <li><span alt="Spanish" title="Spanish" onClick="$('input[name=\'language_code\']').attr('value', 'es').submit(); $(this).parent().parent().submit();" >es</span>
                            <input type="hidden" name="language_code" value="" />
                            <input type="hidden" name="redirect" value="http://livedemo00.template-help.com/opencart_47588/index.php?route=product/category&amp;path=17" />
                          </li>
                        </form>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="toprow">
                  <ul class="links">
                    <li class="first"><a class="" href="index.php-route=common-home.htm"><i class="icon-home"></i>Home</a></li>
                    <li><a class="" href="index.php-route=account-wishlist.htm" id="wishlist-total"><i class="icon-star"></i>Wish List (0)</a></li>
                    <li><a class="" href="index.php-route=account-account.htm"><i class="icon-user"></i>My Account</a></li>
                    <li><a class="" href="index.php-route=checkout-cart.htm"><i class="icon-shopping-cart"></i>Shopping Cart</a></li>
                    <li><a class="" href="index.php-route=checkout-checkout.htm"><i class="icon-check"></i>Checkout</a></li>
                    <li class="login_h"><a href="index.php-route=account-login.htm"><i class="icon-lock"></i>Log In</a></li> <li><a href="index.php-route=account-register.htm"><i class="icon-file-alt"></i>Create an account</a></li>
                  </ul>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="span12">
                    <div class="toprow-1">
                      <a class="swipe-control" href="index.htm#"><i class="icon-reorder"></i></a>
                      <div class="top-search">
                        <i class="icon-search"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="span12 logo-container">
                    <div id="logo"><a href="index.php-route=common-home.htm"><img src="image/data/logo.png" title="Flowers Store" alt="Flowers Store" /></a></div>
                    <div id="menu">
                      <script type="text/javascript">
                        $(document).ready(function(){
                          $('.menu ul li').last().addClass('last');
                          $('.menu ul li li').last().addClass('last');
                        });
                      </script>
                      <ul  class="menu">
                        <li class="cat_1">
                          <a href="index.php-route=product-category-amp-path=57.htm">Congratulation</a>
                        </li>
                        <li class="cat_2">
                          <a href="index.php-route=product-category-amp-path=20.htm">Corporate</a>
                          <ul>                                                                                                <li>
                            <a class="screenshot1"  href="index.php-route=product-category-amp-path=20_77.htm">Lorem ipsum dolor</a>
                          </li>
                          <li>
                            <a class="screenshot1"  href="index.php-route=product-category-amp-path=20_24.htm">Sit aconsectetur</a>
                          </li>
                          <li>
                            <a class="screenshot1"  href="index.php-route=product-category-amp-path=20_88.htm">Ut eros purus</a>
                            <ul>
                              <li>
                                <a href="index.php-route=product-category-amp-path=20_88_91.htm">Morbi eu massa blanit</a>
                              </li>
                              <li>
                                <a href="index.php-route=product-category-amp-path=20_88_92.htm">Fusce et mauris sit</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a class="screenshot1"  href="index.php-route=product-category-amp-path=20_89.htm">Pellentesque malesuada</a>
                          </li>
                          <li>
                            <a class="screenshot1"  href="index.php-route=product-category-amp-path=20_90.htm">Nunc et orci et libero</a>
                          </li>
                        </ul>
                      </li>
                      <li class="active cat_3">
                        <a href="index.php-route=product-category-amp-path=17.htm">Family  flowers</a>
                      </li>
                      <li class="cat_4">
                        <a href="index.php-route=product-category-amp-path=86.htm">Funeral</a>
                      </li>
                      <li class="cat_5">
                        <a href="index.php-route=product-category-amp-path=85.htm">Get  well</a>
                      </li>
                      <li class="cat_6">
                        <a href="index.php-route=product-category-amp-path=84.htm">Mixed </a>
                      </li>
                    </ul>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="span12">
                  <div id="menu-gadget">
                    <div id="menu-icon">Categories</div>
                    <ul id="nav" class="sf-menu-phone">
                      <li ><a href="index.php-route=product-category-amp-path=57.htm">Congratulation</a>
                    </li>
                    <li class="parent"><a href="index.php-route=product-category-amp-path=20.htm">Corporate</a>
                    <ul>
                      <li >
                        <a href="index.php-route=product-category-amp-path=20_77.htm">Lorem ipsum dolor</a>
                      </li>
                      <li >
                        <a href="index.php-route=product-category-amp-path=20_24.htm">Sit aconsectetur</a>
                      </li>
                      <li class="parent">
                        <a href="index.php-route=product-category-amp-path=20_88.htm">Ut eros purus</a>
                        <ul>
                          <li>
                            <a href="index.php-route=product-category-amp-path=20_88_91.htm">Morbi eu massa blanit</a>
                          </li>
                          <li>
                            <a href="index.php-route=product-category-amp-path=20_88_92.htm">Fusce et mauris sit</a>
                          </li>
                        </ul>
                      </li>
                      <li >
                        <a href="index.php-route=product-category-amp-path=20_89.htm">Pellentesque malesuada</a>
                      </li>
                      <li >
                        <a href="index.php-route=product-category-amp-path=20_90.htm">Nunc et orci et libero</a>
                      </li>
                    </ul>
                  </li>
                  <li ><a href="index.php-route=product-category-amp-path=17.htm">Family  flowers</a>
                </li>
                <li ><a href="index.php-route=product-category-amp-path=86.htm">Funeral</a>
              </li>
              <li ><a href="index.php-route=product-category-amp-path=85.htm">Get  well</a>
            </li>
            <li ><a href="index.php-route=product-category-amp-path=84.htm">Mixed </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div></div></div></div>
</header>
<section>
<div id="container">
  <%= yield%>
</div>

<div class="clear"></div>
</section>
<footer>
<div class="container">
<div class="row">
  <div class="span12">
    <div id="powered">
      <div>
        <span class="pow">
          Powered By <a href="javascript:if(confirm('http://www.opencart.com\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='http://www.opencart.com'">OpenCart</a> Flowers Store <span>&copy; 2015</span><!-- [[%FOOTER_LINK]] -->
        </span>
        <ul class="social">
          <li><a href="javascript:if(confirm('http://facebook.com\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='http://facebook.com'" class="tooltip-2" title="Facebook"><i class=" icon-facebook"></i></a></li>
          <li><a href="javascript:if(confirm('http://twitter.com\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='http://twitter.com'" class="tooltip-2" title="Twitter"><i class=" icon-twitter"></i></a></li>
          <li><a href="index.htm#" class="tooltip-2" title="RSS"><i class=" icon-rss"></i></a></li>
          <li><a href="javascript:if(confirm('http://youtube.com\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='http://youtube.com'" class="tooltip-2" title="You Tube"><i class=" icon-youtube"></i></a></li>
          <li><a href="javascript:if(confirm('http://accounts.google.com\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='http://accounts.google.com'" class="tooltip-2" title="Google+"><i class="icon-google-plus"></i></a></li>
        </ul>
      </div>
      <p id="back-top"> <a href="index.htm#top"><span></span></a> </p>
    </div>
  </div>
</div></div>
</footer>
<script type="text/javascript"  src="/assets/catalog/view/theme/theme324/js/livesearch.js"></script>
</div>
</div>
</div>
<script type="text/javascript">/* CloudFlare analytics upgrade */
</script>
<script type="text/javascript">if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript/index.htm";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-1.newrelic.com","72d7dcce33","1388850","ZV1TZ0FTVkFVWkwKXlwXZEFaHRIdXVdcBkkcSFlD",0,434,new Date().getTime(),"","","","",""]);</script></body></html>